@import '~bootstrap/dist/css/bootstrap.min.css';
.navBar{
  height: 10%;
  min-height: 45px;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #ffffff;
  overflow-x: hidden;
}
.mainBody {
  height: 90%;
  min-height: 400px;
  width: 100%;
  /* position: fixed; */
  padding-top: 20px; 
}
.container{
  display: block;
  overflow: hidden;
}

